@import "tailwindcss" source("../../..");
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 191.2 71% 92.8%;
  --foreground: 191.2 3.6% 6.4%;
  --card: 191.2 35.5% 92.8%;
  --card-foreground: 191.2 3.6% 11.4%;
  --popover: 191.2 71% 96.4%;
  --popover-foreground: 191.2 98.6% 2.8%;
  --primary: 191.2 78.3% 30.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 191.2 24.2% 75.6%;
  --secondary-foreground: 0 0% 0%;
  --muted: 229.2 24.2% 87.8%;
  --muted-foreground: 191.2 3.6% 36.4%;
  --accent: 229.2 24.2% 82.8%;
  --accent-foreground: 191.2 3.6% 11.4%;
  --destructive: 0 85.5% 35.6%;
  --destructive-foreground: 191.2 3.6% 92.8%;
  --border: 191.2 27.1% 59%;
  --input: 191.2 27.1% 27%;
  --ring: 191.2 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 191, 71%, 88%;
  --sidebar-foreground: 191, 4%, 6%;
  --sidebar-primary: 191, 78%, 28%;
  --sidebar-primary-foreground: 0, 0%, 100%;
  --sidebar-accent: 229, 24%, 79%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 191, 27%, 56%;
  --sidebar-ring: 181, 98%, 45%;
}

.dark {
  --background: 191.2 38.4% 6.4%;
  --foreground: 191.2 3.6% 92.8%;
  --card: 191.2 35.5% 2.8%;
  --card-foreground: 191.2 3.6% 92.8%;
  --popover: 191.2 38.4% 5%;
  --popover-foreground: 191.2 3.6% 92.8%;
  --primary: 191.2 78.3% 30.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 191.2 24.2% 12.8%;
  --secondary-foreground: 0 0% 100%;
  --muted: 229.2 24.2% 17.8%;
  --muted-foreground: 191.2 3.6% 61.4%;
  --accent: 229.2 24.2% 17.8%;
  --accent-foreground: 191.2 3.6% 91.4%;
  --destructive: 0 85.5% 35.6%;
  --destructive-foreground: 191.2 3.6% 92.8%;
  --border: 191.2 27.1% 27%;
  --input: 191.2 27.1% 27%;
  --ring: 191.2 88.7% 45.3%;
  --radius: 0.5rem;
  --sidebar-background: 191, 38%, 8%;
  --sidebar-foreground: 191, 4%, 100%;
  --sidebar-primary: 191, 78%, 25%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 229, 24%, 15%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 191, 27%, 26%;
  --sidebar-ring: 181, 98%, 45%;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar: hsl(var(--sidebar));
  --color-chart-5: hsl(var(--chart-5));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-1: hsl(var(--chart-1));
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-border: hsl(var(--border));
  --color-destructive: hsl(var(--destructive));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-accent: hsl(var(--accent));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-muted: hsl(var(--muted));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary: hsl(var(--primary));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-popover: hsl(var(--popover));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card: hsl(var(--card));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: var(--font-roboto);
  --font-serif: var(--font-roboto-slab);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}
